<div class="form-group">
    <%= f.label :university %><br />
    <%= f.text_field :university, autofocus: true, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :passing_year %><br />
    <%= f.text_field :passing_year, autofocus: true,class: "form-control" %>
  </div>
